<h1>Using Sinatra to Reverse an Input String</h1>
<p>The example will accept a user string and display it in reverse.</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[input]" value="Type a string..." id="input" /><br /><br />

<input type="submit" value=".. and reverse it!">
</form>