<h1>Using Sinatra to Display the Reverse of the Input</h1>
<p>You entered:</p>
<p><b><font color = green><%= params[:post][:input] %></font color></b></p>

<p>The reversed version of the string is:</p>
<p><b><font color = blue><%= params[:post][:input].reverse %></font color></b></p>
<p>Click <a href="/">here</a> to try a new string.</p>